#product-saturation-slider-container {
  position: absolute;
  bottom: 0;
  left: 5%;
  //padding: 0.25rem 0.5rem;
  background-color: white;
  width: 70%;
  height: 50px;
  margin-bottom: 2rem;

  md-slider {
    margin: 0 1.5rem;
  }

  .slider-value-info {
    font-size: 0.80rem;
    padding: 1rem;
  }
}