#product-saturation-slider-container {
  position: absolute;
  //bottom: 0;
  //left: 22%;
  background-color: white;
  width: 70%;
  height: 50px;
  margin-bottom: 2rem;

  top: 0;
  margin-top: 1rem;
  left: calc(20% - 60px);

  md-slider {
    margin: 0 1.5rem;
  }

  .slider-value-info {
    font-size: 0.80rem;
    padding: 1rem;
  }
}