<!DOCTYPE html>
<html ng-app="demoApp">
<head>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="images/favicon.ico"/>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- CSS here -->
    <link rel="stylesheet" href="css/vendor.min.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="css/app.min.css">
</head>
<body layout="column" ng-controller="mainController as mainCtl" ng-cloak>
<!-- Fixed Top Navbar -->
<div ng-include="'partials/_top_nav.html'"></div>

<!-- Your content goes here -->
<div flex layout="row">

    {% include "partials/sidenavs/_main_menu.sidenav.html" %}

    <md-content flex id="base-container">
        {% block content %}{% endblock %}
    </md-content>
</div>
</body>
</html>