{% extends "base.html" %}

{% block content %}

    {% if gmap_api_key %}
        <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?v=3.exp&key={{gmap_api_key}}&libraries=geometry,places"></script>
    {% else %}
        <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=geometry,places"></script>
    {% endif %}

    {% raw %}

    <md-button class="md-fab md-primary md-mini"
               id="toggle-territory-details-btn"
               ng-click="mainCtl.showTerritoryPanelDetail()"
               ng-show="showTerritoryDetailBtn">
        <md-icon>local_activity</md-icon>
    </md-button>

    <md-button
            ng-hide="showBranchCompareTable"
            ng-click="mainCtl.showBanchCompareTableAction()"
            class="md-fab md-mini" id="show-compare-branches-btn">
        <md-icon>compare_arrows</md-icon>
    </md-button>

    <div id="index-container" layout="row" ng-controller="indexController as indexCtl">
        <!-- map canvas dimensions will be computed during map initialization -->
        <div id="map-canvas" flex-gt-xs="{{ hasOpenedModal ? 100 : 80 }}" flex="100"></div>
    {% endraw %}
        {% include "partials/sidenavs/_admin_panel.html" %}
        {% include "partials/sidenavs/_territory_info_panel.html" %}
        {% include "partials/_compare_branches_table.html" %}
        {% include "partials/_search_address_bar.html" %}
    </div>

{#    <md-fab-speed-dial md-direction="left"#}
{#                       id="admin-options-btn"#}
{#                       class="md-scale md-hover-full"#}
{#                       md-open="fab.isOpen"#}
{#                       ng-hide="hasOpenedModal"#}
{#                       ng-mouseenter="fab.isOpen=true" ng-mouseleave="fab.isOpen=false">#}
{#        <md-fab-trigger>#}
{#            <md-button class="md-fab md-mini md-primary">#}
{#                <md-icon>menu</md-icon>#}
{#            </md-button>#}
{#        </md-fab-trigger>#}
{##}
{#        <md-fab-actions>#}
{#            <md-button class="md-fab md-raised md-mini" ng-click="indexCtl.showAddBranchModal()">#}
{#                <md-tooltip md-direction="top">New Branch</md-tooltip>#}
{#                <md-icon>business</md-icon>#}
{#            </md-button>#}
{#            <md-button class="md-fab md-raised md-mini">#}
{#                <md-tooltip md-direction="top">New Product</md-tooltip>#}
{#                <md-icon>style</md-icon>#}
{#            </md-button>#}
{#        </md-fab-actions>#}
{#    </md-fab-speed-dial>#}

    <script src="js/vendor.min.js"></script>
    <script src="js/app.min.js"></script>
{% endblock %}