{% extends "base.html" %}

{% block content %}
    {% raw %}
    <div id="product-saturation-container" layout="row" ng-controller="productSaturationPageController as psPageCtl">

        <md-card ng-if="psPageCtl.showSaturationInfo" layout="column" layout-padding id="product-saturation-percentage-panel">
            <div layout="row" flex>
                <span flex="60">Saturation</span>
                <span flex></span>
                <span>{{psPageCtl.showSaturationInfo.percentage}}%</span>
            </div>
            <div layout="row" flex>
                <span flex="60">Branches</span>
                <span flex></span>
                <span>{{psPageCtl.showSaturationInfo.fraction}}</span>
            </div>
        </md-card>

        <!-- map canvas dimensions will be computed during map initialization -->
        <div id="map-canvas" flex="100"></div>

        <div style="position: absolute;left:2%;top:10px;width:80%;" layout="row"
             layout-align="start center"
             flex
             ng-controller="productSatPanelController as vm">

            <div id="product-saturation-filter-container" class="md-whiteframe-2dp" layout="row"
                 layout-align="center center"
                 flex="20"
                 layout-margin>

                <md-select placeholder="Select Product" ng-model="vm.filter.selectedProduct"
                           ng-change="vm.filterProductChanged()"
                           flex="100">
                    <md-option ng-repeat="item in vm.productList" ng-value="item.name">{{ item.name }} - {{ item.material_code }}</md-option>
                </md-select>

            </div>

            <div id="product-saturation-slider-container" class="md-whiteframe-2dp" layout="row"
                 layout-align="start center"
                 ng-if="showProductSaturationSlider"
                 flex
                 layout-margin>

                <md-switch ng-model="vm.toggleSaturationOrSalesModel"
                           ng-change="vm.toggleSaturationOrSalesChanged(vm.toggleSaturationOrSalesModel)">
                    {{ vm.toggleSaturationOrSalesDisplayMessage }}
                </md-switch>

                <div layout="row" layout-align="start center" flex ng-if="!vm.toggleSaturationOrSalesModel">
                    <md-slider-container flex layout-margin>
                        <md-slider class="md-primary" md-discrete min="0" step="1" max="4" ng-model="vm.slider.currentVal"
                                   ng-change="vm.sliderChanged()" flex></md-slider>
                    </md-slider-container>
                    <span class="slider-value-info" flex="25" layout-margin>{{ vm.currentSelectedWeek }}</span>
                    <md-switch ng-model="vm.toggleDataDisplayModel" aria-label="Switch 6" ng-change="vm.toggleDataDisplay(vm.toggleDataDisplayModel)">
                        {{ vm.toggleDataDisplayMessage }}
                    </md-switch>
                </div>

                <div layout="row" layout-align="start center" flex ng-if="vm.toggleSaturationOrSalesModel">
                    <!--<md-select placeholder="Year and Semester" ng-model="vm.filter.semester"
                               ng-change="vm.semesterChanged(vm.filter.semester)">
                        <md-option ng-value="sem.value" ng-repeat="sem in vm.semesters">{{sem.display}}</md-option>
                    </md-select>-->
                        <md-slider-container flex layout-margin>
                            <md-slider class="md-primary" md-discrete min="0" step="1" max="{{vm.selloutDates.length-1}}"
                                       ng-model="vm.sliderSellout.currentVal"
                                       ng-change="vm.sliderSelloutChanged()" flex></md-slider>
                        </md-slider-container>
                        <span class="slider-value-info" layout-wrap layout-margin><b>{{ vm.selectedSelloutDate }}</b></span>
                </div>
            </div>

        </div>
    </div>
    {% endraw %}

    <script src="js/vendor.min.js"></script>
    <script src="js/app.min.js"></script>
{% endblock %}