{% extends "base.html" %}

{% block content %}
    {% raw %}

    <md-button class="md-fab md-primary md-mini"
               id="toggle-territory-details-btn"
               ng-click="mainCtl.showTerritoryPanelDetail()"
               ng-show="showTerritoryDetailBtn">
        <md-icon>local_activity</md-icon>
    </md-button>

    <md-button
            ng-hide="showBranchCompareTable"
            ng-click="mainCtl.showBanchCompareTableAction()"
            class="md-fab md-mini" id="show-compare-branches-btn">
        <md-icon>compare_arrows</md-icon>
    </md-button>


    <div id="index-container" layout="row" ng-controller="salesPageController as salesPgCtl">

        <!--
        <md-button class="md-fab"
                   id="new-sales-transaction-btn"
                   ng-click="salesPgCtl.showNewTransactionForm($event)">
            <md-tooltip direction="top">New Transaction</md-tooltip>
            <md-icon>card_travel</md-icon>
        </md-button>
        -->

            <!-- map canvas dimensions will be computed during map initialization -->
            <div id="map-canvas" flex-gt-xs="{{ hasOpenedModal ? 100 : 80 }}" flex="100"></div>
    {% endraw %}
        {% include "partials/sidenavs/_sales_panel.html" %}
        {% include "partials/sidenavs/_territory_info_panel.html" %}
        {% include "partials/_compare_branches_table.html" %}
        {% include "partials/_search_address_bar.html" %}
    </div>

    <script src="js/vendor.min.js"></script>
    <script src="js/app.min.js"></script>
{% endblock %}