/* Text Classes */
.text-muted {
  color: #777;
}

.text-error {
  color: $error-color;
}

.text-info {
  color: $info-color;
}

.no-margin {
  margin: 0;
}

.white-bg {
  background-color: #ffffff !important;
}

.padding-left-5 {
  padding-left: 0.5rem;
}

/* Text Positioning */
.text-center {
  text-align: center;
}

.full-height {
  height: 100%;
  box-sizing: border-box;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* Treasure Overlay Spinner */
.treasure-overlay-spinner-container, .treasure-overlay-spinner {
  /*
  * Since z-index for md-dialog-container is 80
  * so make spinner on top of it value is 81
  */
  z-index: 81;
}

.focused-material-list-item {
  > button {
    background-color: rgba(158, 158, 158, 0.2);
  }
}

.textarea {
  width: auto;
  min-width: 80%;
  display: block;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0.25rem 0.5rem .75rem 0.5rem;
}

.treasure-overlay-spinner-active .treasure-overlay-spinner {
  border: 5px solid rgba($primary-color, 0.7);
  border-top: 5px solid rgba($primary-color, 0.25);
  border-right: 5px solid rgba($primary-color, .75);
  border-bottom: 5px solid rgba($primary-color, .75);
  border-left: 5px solid rgba($primary-color, .75);
}

/* Custom Scrollbar */

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.05);
}