{% raw %}
<div id="product-saturation-slider-container" class="md-whiteframe-2dp" layout="row" layout-align="start center"
     ng-controller="productSatSliderController as vm"
     ng-if="showProductSaturationSlider"
flex="70"
layout-margin>

    <md-slider-container flex layout-margin>
        <md-slider class="md-primary" md-discrete min="0" step="1" max="4" ng-model="vm.slider.currentVal"
                   ng-change="vm.sliderChanged()" flex></md-slider>
    </md-slider-container>
    <span class="slider-value-info" flex="25" layout-margin>{{vm.currentSelectedWeek}}</span>
</div>
{% endraw %}
