<md-toolbar id="app-top-nav" layout="row">

    <md-button class="menu" aria-label="Show Menu" ng-click="mainCtl.toggleMainMenu()">
        <md-icon>&#xE5D2;</md-icon>
    </md-button>

    <span class="solar-title">
      <a href="/index">
          <img class="company-logo" src="/resources/images/navagis_logo.png">
      </a>
    </span>

    <span flex></span>

    <div class="powered-by" hide-xs layout="row">
        <a href="http://navagis.com" target="_blank">
            <img layout-gt-md="row" src="/resources/images/navagis_powered.png">
        </a>
    </div>

</md-toolbar>