#parent-container {
  height: calc(100% - 42px);
}

#base-container {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#show-map-legend-btn {
  position: absolute;
  top: 50px;
  right: calc(20% + 5px);
}