#fraud-container {
  padding: 0;
  margin: 0;
  width: 100%;
}

#upload-fraud-data-file-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}

.fraud-icon {
  color: $error-color;
}

.cleared-icon {
  color: #95a5a6;
}

.investigating-icon {
  color: #f39c12;
}