#index-container {
  padding: 0;
  margin: 0;
  width: 100%;
}

/* Remove Padding on Menu */
md-menu-content {
  padding-top: 0px;
  padding-bottom: 0px;
}

/* Buttons on index page */

//#save-location-btn {
//  position: absolute;
//  top: 0;
//  right: 0;
//
//  @media screen and (max-width: 456px) {
//    top: 10px;
//    right: 10px;
//  }
//}

//#show-project-list-btn {
//  position: absolute;
//  bottom: 13px;
//  right: 80px;
//}