#product-saturation-container {
  padding: 0;
  margin: 0;
  width: 100%;

  #product-saturation-percentage-panel {
    position: absolute;
    //top: 0;
    left: 0;
    z-index: 11;
    min-width: 280px;
    margin: 1.75rem 1rem;

    bottom: 0;

    > div {
      padding: 0.25rem 0;

      span:first-of-type {
        font-weight: 600;
      }

      span:first-of-type, span:last-of-type {
        //font-size: 0.8rem;
        font-size: 1rem;
      }
    }
  }
}

#product-saturation-filter-container {
  background-color: white;
  //margin: 1rem;
  padding: 0.15rem 1rem;
  //width: 13%;
  //position: absolute;
  //top: 0;
  //left: 0;

  md-select {
    margin: 0.5rem;
  }
}

.map-legend-most-right {
  right: 0 !important;
  margin: 0 1rem !important;
  top: 60px !important;
}
