{% raw %}
<md-sidenav class="md-sidenav-right md-sidenav sidenav-container"
                id="boundaries-panel"
                ng-controller="boundariesController as vm"
                md-component-id="boundariesSidenav"
                layout="row"
                flex="20"
                md-disable-backdrop
                md-is-locked-open="$mdMedia('gt-xs')"
                md-whiteframe="4"
                ng-cloak>

        <!-- PRIMARY TOOLBAR -->
        <md-toolbar ng-class="{'md-default':  vm.showBoundariesPanel}">
            <div class="md-toolbar-tools">
            <span>
                <h4>
                    <md-icon>{{ vm.showBoundariesPanel ? 'filter_list' : 'stars'}}</md-icon>
                    {{ vm.showBoundariesPanel ? 'Boundaries' : 'Suggested Barangays' }}
                </h4>
            </span>
                <span flex></span>

                <md-button class="md-icon-button" ng-click="vm.toggleBoundariesPanel()">
                    <md-icon>{{ vm.showBoundariesPanel ? 'clear' : 'search'}}</md-icon>
                </md-button>

            </div>
        </md-toolbar>

        <!-- BARANGAY OF INTERESTS -->
        <md-content layout="column" flex ng-hide="vm.showBoundariesPanel">
            <div id="barangay-interest-container">

                <md-list>
                    <md-list-item ng-repeat="item in vm.favoriteBoundaries"
                                  id="{{item.id}}"
                                  ng-click="vm.showBoundary(item);$event.stopPropagation()">
                        <div class="md-list-item-text" layout="row" flex>
                            <span flex>{{ item.name }}<md-icon>star</md-icon> </span>
                            <md-progress-circular
                                    flex="10"
                                    md-mode="indeterminate"
                                    md-diameter="30px"></md-progress-circular>
                        </div>
                    </md-list-item>
                </md-list>

            </div>
        </md-content>

        <!-- BOUNDARIES WITH FILTER -->
        <md-content layout="column" flex ng-show="vm.showBoundariesPanel">

            <div flex="100" class="md-whiteframe-2dp" layout="column" layout-margin>
                <md-subheader>Place Types</md-subheader>
                <div flex-wrap class="place-type-item" ng-repeat="type in vm.placeTypes">
                    <md-checkbox ng-model="type.model" ng-change="vm.toggleType(type.name)" aria-label="">
                        {{ type.name }}
                    </md-checkbox>
                </div>
            </div>

            <div class="md-whiteframe-2dp" id="boundaries-container" layout-margin>

                <md-subheader class="md-primary">Boundaries</md-subheader>

                <v-accordion class="vAccordion--default" multiple
                             layout-margin>
                    <v-pane id="{{region.id}}"
                            ng-click="vm.expandCallback(region, $event)"
                            ng-repeat="region in vm.boundaries"
                            expanded="region.isExpanded">
                        <v-pane-header>
                            <div layout="row" flex>
                                <span>{{ region.name }}</span>
                                <md-progress-circular
                                        flex="10"
                                        md-mode="indeterminate"
                                        md-diameter="30px"></md-progress-circular>
                            </div>
                        </v-pane-header>
                        <v-pane-content>


                            <v-accordion class="vAccordion--default" multiple
                                         layout-margin>
                                <v-pane id="{{province.id}}"
                                        ng-click="vm.expandCallback(province, $event)"
                                        ng-repeat="province in region.children"
                                        expanded="province.isExpanded">
                                    <v-pane-header>
                                        <div layout="row" flex>
                                            <span flex>{{ province.name }}</span>
                                            <md-progress-circular
                                                    flex="10"
                                                    md-mode="indeterminate"
                                                    md-diameter="30px"></md-progress-circular>
                                        </div>
                                    </v-pane-header>
                                    <v-pane-content>

                                        <v-accordion class="vAccordion--default" multiple
                                                     layout-margin
                                                     ng-cloak
                                                     ng-if="province.children">
                                            <v-pane id="{{city.id}}"
                                                    ng-click="vm.expandCallback(city, $event)"
                                                    ng-repeat="city in province.children"
                                                    expanded="city.isExpanded">
                                                <v-pane-header>
                                                    <div layout="row" flex>
                                                        <span flex>{{ city.name }}</span>
                                                        <md-progress-circular
                                                                flex="10"
                                                                md-mode="indeterminate"
                                                                md-diameter="30px"></md-progress-circular>
                                                    </div>
                                                </v-pane-header>
                                                <v-pane-content>


                                                    <md-list ng-if="city.children">
                                                        <md-list-item ng-repeat="brgy in city.children"
                                                                      id="{{brgy.id}}"
                                                                      ng-click="vm.showBoundary(brgy);$event.stopPropagation()">
                                                            <div class="md-list-item-text" layout="row" flex>
                                                                <span flex>{{ brgy.name }}</span>
                                                                <md-progress-circular
                                                                        flex="10"
                                                                        md-mode="indeterminate"
                                                                        md-diameter="30px"></md-progress-circular>
                                                            </div>
                                                        </md-list-item>
                                                    </md-list>


                                                </v-pane-content>
                                            </v-pane>
                                        </v-accordion>

                                    </v-pane-content>
                                </v-pane>
                            </v-accordion>

                        </v-pane-content>
                    </v-pane>
                </v-accordion>

            </div>

        </md-content>

</md-sidenav>
{% endraw %}