{% raw %}
<section class="sidenav-container"
         id="admin-panel"
         ng-controller="adminPanelController as vm"
         layout="row"
         flex="20"
         ng-hide="hasOpenedModal"
         ng-cloak>
    <md-sidenav class="md-sidenav-right md-sidenav"
                md-component-id="adminPanelSidenav"
                md-disable-backdrop
                md-is-locked-open="$mdMedia('gt-xs')"
                md-whiteframe="4"
                flex>

        <!-- PRIMARY TOOLBAR -->
        <md-toolbar ng-class="{'md-default':  vm.showTerritoriesPanel}">
            <div class="md-toolbar-tools">
            <span>
                <h4>
                    <md-icon>{{ vm.showTerritoriesPanel ? 'local_activity' : 'layers'}}</md-icon>
                    {{ vm.showTerritoriesPanel ? 'Territories' : 'Boundaries' }}
                </h4>
            </span>
                <span flex></span>

                <md-button class="md-icon-button" ng-click="vm.showTerritoriesPanel=!vm.showTerritoriesPanel">
                    <md-icon>arrow_forward</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <!-- TERRITORIES -->
        <md-content id="admin-territories-section" layout="column" flex ng-show="vm.showTerritoriesPanel">
            <form name="filter.form">
                <md-input-container md-no-float class="md-block">
                    <input type="text"
                           placeholder="Search"
                           ng-model="vm.filter.q">
                </md-input-container>
            </form>
            <md-list>
                <md-list-item ng-repeat="item in vm.territories | filter: vm.filter.q"
                              id="territory-{{item.territoryid}}"
                              ng-click="vm.showTerritory(item);$event.stopPropagation()">
                    <div class="md-list-item-text" layout="row" flex>
                        <span flex><md-icon>star</md-icon> {{ item.territory.code }}</span>
                        <md-progress-circular
                                flex="10"
                                md-mode="indeterminate"
                                md-diameter="30px"></md-progress-circular>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>

        <!-- BOUNDARIES -->
        <md-content layout="column" flex ng-hide="vm.showTerritoriesPanel">

            <div id="boundaries-container" layout-margin>

                <md-switch ng-model="vm.loadPois">Show POIs</md-switch>

                <md-subheader ng-if="vm.loadPois">Place types</md-subheader>

                <div ng-if="vm.loadPois" class="md-whiteframe-2dp places-type-container" layout="row" layout-margin>
                    <div flex-wrap layout="column" class="place-type-item">
                        <md-checkbox ng-model="type.model" ng-change="vm.toggleType(type.name)"
                                     ng-repeat="type in vm.placeTypes[0]">
                            {{ type.name | underscoreless | uppercase }}
                        </md-checkbox>
                    </div>
                    <div flex-wrap layout="column" class="place-type-item">
                        <md-checkbox ng-model="type.model" ng-change="vm.toggleType(type.name)"
                                     ng-repeat="type in vm.placeTypes[1]">
                            {{ type.name | underscoreless | uppercase }}
                        </md-checkbox>
                    </div>
                </div>

                <md-subheader class="md-primary">Boundaries</md-subheader>
                <form>
                    <md-input-container md-no-float class="md-block">
                        <input type="text"
                               placeholder="Search"
                               ng-model="vm.filterBoundaries">
                    </md-input-container>
                </form>
                <v-accordion class="vAccordion--default region-accordion" multiple
                             layout-margin>
                    <v-pane id="{{region.id}}"
                            ng-click="vm.expandCallback(region, $event)"
                            ng-repeat="region in vm.boundaries | filter: vm.filterBoundaries"
                            expanded="region.isExpanded">
                        <v-pane-header>
                            <div layout="row" flex>
                                <span>{{ region.name }}</span>
                                <md-progress-circular
                                        flex="10"
                                        md-mode="indeterminate"
                                        md-diameter="30px"></md-progress-circular>
                            </div>
                        </v-pane-header>
                        <v-pane-content>


                            <v-accordion class="vAccordion--default province-accordion" multiple
                                         layout-margin>
                                <v-pane id="{{province.id}}"
                                        ng-click="vm.expandCallback(province, $event)"
                                        ng-repeat="province in region.children | filter: vm.filterBoundaries"
                                        expanded="province.isExpanded">
                                    <v-pane-header>
                                        <div layout="row" flex>
                                            <span flex>{{ province.name }}</span>
                                            <md-progress-circular
                                                    flex="10"
                                                    md-mode="indeterminate"
                                                    md-diameter="30px"></md-progress-circular>
                                        </div>
                                    </v-pane-header>
                                    <v-pane-content>

                                        <v-accordion class="vAccordion--default city-accordion" multiple
                                                     layout-margin
                                                     ng-cloak
                                                     ng-if="province.children">
                                            <v-pane id="{{city.id}}"
                                                    ng-click="vm.expandCallback(city, $event)"
                                                    ng-repeat="city in province.children | filter: vm.filterBoundaries"
                                                    expanded="city.isExpanded">
                                                <v-pane-header>
                                                    <div layout="row" flex>
                                                        <md-checkbox ng-model="city.model" ng-change="vm.boundaryCheckboxChange(city.model,city.id)" flex>{{ city.name | uppercase }} </md-checkbox>
                                                        <md-progress-circular
                                                                flex="10"
                                                                md-mode="indeterminate"
                                                                md-diameter="30px"></md-progress-circular>
                                                    </div>
                                                </v-pane-header>
                                                <v-pane-content>


                                                    <md-list ng-if="city.children">
                                                        <md-list-item ng-repeat="brgy in city.children"
                                                                      id="{{brgy.id}}"
                                                                      ng-click="vm.showBoundary(brgy);$event.stopPropagation()">
                                                            <div class="md-list-item-text" layout="row" flex>
                                                                <span flex>{{ brgy.name }}</span>
                                                                <md-progress-circular
                                                                        flex="10"
                                                                        md-mode="indeterminate"
                                                                        md-diameter="30px"></md-progress-circular>
                                                            </div>
                                                        </md-list-item>
                                                    </md-list>


                                                </v-pane-content>
                                            </v-pane>
                                        </v-accordion>

                                    </v-pane-content>
                                </v-pane>
                            </v-accordion>

                        </v-pane-content>
                    </v-pane>
                </v-accordion>
            </div>
        </md-content>

    </md-sidenav>
</section>
{% endraw %}