{% raw %}
<section class="sidenav-container"
         id="fraud-panel"
         ng-controller="fraudPanelController as vm"
         layout="row"
         flex="20"
         ng-hide="hasOpenedModal"
         ng-cloak>

    <md-sidenav class="md-sidenav-right md-sidenav"
                md-component-id="fraudPanelSidenav"
                md-disable-backdrop
                md-is-locked-open="$mdMedia('gt-xs')"
                md-whiteframe="4"
                flex>

        <!-- PRIMARY TOOLBAR -->
        <md-toolbar class="main-toolbar">
            <div class="md-toolbar-tools">
                <span>
                    <h4>
                        <md-icon>assignment_late</md-icon>
                        Fraudulent
                    </h4>
                </span>

                <span flex></span>

                <!--
                <md-menu md-position-mode="target-right target">
                    <md-button class="md-icon-button" ng-click="$mdOpenMenu()">
                        <md-icon md-menu-origin>more_vert</md-icon>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="vm.showFraudTransactions()">
                                <md-icon>assignment_late</md-icon>
                                Fraud Transaction Report
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                -->

                <!--
                <md-button ng-click="vm.showFraudTransactions()"
                           class="md-fab sidenav-primary-button">
                    <md-tooltip ng-show="vm.uploadHasResponse" md-direction="top">Show Fraud Transactions</md-tooltip>
                    <md-icon>assignment_late</md-icon>
                </md-button>
                -->

                <md-button ng-disabled="!vm.uploadHasResponse"
                           class="md-fab sidenav-primary-button"
                           type="file"
                           ngf-pattern="'.xlsx,.xls'"
                           ngf-select="vm.uploadFraudData($file, $invalidFiles, $event)">
                    <md-progress-circular md-mode="indeterminate" ng-hide="vm.uploadHasResponse"></md-progress-circular>
                    <md-tooltip ng-show="vm.uploadHasResponse" md-direction="top">Upload User Transactions
                    </md-tooltip>
                    <md-icon ng-show="vm.uploadHasResponse">file_upload</md-icon>
                </md-button>

            </div>
        </md-toolbar>

        <!-- FRAUD LIST -->
        <md-content class="fraud-list-content" layout="column" flex>
            <div layout="column" layout-align="start center">
                <form class="filter-form" flex="100">
                    <md-select placeholder="Select Employee" ng-model="vm.filter.empId"
                               ng-change="vm.employeeFilterChanged()">
                        <md-option ng-repeat="emp in vm.employeeList" ng-value="emp.id">{{emp.empid}}</md-option>
                    </md-select>

                    <md-input-container md-no-float class="md-block">
                        <input type="text" placeholder="Filter by date range" ng-model="vm.selectedDate.formatted" ng-click="vm.pickDateRange($event, true)">
                    </md-input-container>
                </form>

                <md-progress-circular ng-hide="vm.dataIsLoaded" md-mode="indeterminate"
                                      md-diameter="96"></md-progress-circular>

                <md-list class="transaction-list" ng-show="vm.dataIsLoaded" flex="100" ng-if="!vm.listOfDays.length">

                    <md-subheader class="md-no-sticky" ng-click="vm.returnToDayList()" ng-if="vm.selectedRange.dateStart != vm.selectedRange.dateEnd" flex>
                        <md-button class="md-icon-button">
                            <md-icon>chevron_left</md-icon>
                        </md-button>
                        <span flex>{{ vm.selectedDate.formatted }}</span>
                    </md-subheader>

                    <md-list-item ng-repeat="item in vm.transactions"
                                  class="md-3-line"
                                  id="transaction-{{item.id}}"
                                  ng-click="vm.onClickTransaction(item);$event.stopPropagation()">
                        <md-icon class="md-avatar-icon" ng-class="{'fraud-icon':item.status=='FRAUD', 'cleared-icon':item.status=='CLEARED', 'investigating-icon':item.status=='INVESTIGATING'}">{{item.icon.icon}}</md-icon>
                        <div class="md-list-item-text" layout="column">
                            <h3>{{ item.merchant.name}}</h3>
                            <span>{{ item.type }}</span>
                            <p>{{item.transaction_date | date : "MMM d, yyyy hh:mm a" }}</p>
                        </div>
                    </md-list-item>
                </md-list>

                <md-list class="transaction-list days-list" flex="100" ng-if="vm.listOfDays.length"
                         ng-show="vm.dataIsLoaded">
                    <md-list-item ng-repeat="day in vm.listOfDays"
                                  ng-click="vm.getTransactionByDate(day);$event.stopPropagation()">
                        <p flex>{{ day.date_formatted }}</p>
                        <span class="badge badge-error" ng-if="day.count">{{ day.count }}</span>
                    </md-list-item>
                </md-list>
                <!--
                <md-list>
                    <md-list-item ng-repeat="item in vm.frauds | filter: {data: {merchant_name: vm.filter.q}}"
                                  class="md-3-line"
                                  id="fraud-{{item.id}}"
                                  ng-click="vm.showFraudDetail(item);$event.stopPropagation()">
                        <md-icon class="md-avatar-icon text-error">warning</md-icon>
                        <div class="md-list-item-text" layout="column">
                            <h3>{{ item.data.merchant_name}}</h3>
                            <h4>{{ item.data.merchant_address }}</h4>
                            <p>{{ item.data.type }}</p>
                        </div>
                    </md-list-item>
                </md-list>
                -->
            </div>
        </md-content>

    </md-sidenav>
</section>
{% endraw %}