{% raw %}
<section class="sidenav-container"
         id="sales-panel"
         ng-controller="salesPanelController as vm"
         layout="row"
         flex="20"
         ng-hide="hasOpenedModal"
         ng-cloak>

    <md-sidenav class="md-sidenav-right md-sidenav"
                md-component-id="salesPanelSidenav"
                md-disable-backdrop
                md-is-locked-open="$mdMedia('gt-xs')"
                md-whiteframe="4"
                flex>

        <!-- PRIMARY TOOLBAR -->
        <md-toolbar ng-if="!vm.showSalesTransactionsList">
            <div class="md-toolbar-tools">
                <span>
                    <h4>
                        <md-icon>local_activity</md-icon>
                        Territories
                    </h4>
                </span>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.toggleToolbarPanel()">
                    <md-icon>arrow_forward</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <!-- SALES TRANSACTIONS TOOLBAR -->
        <md-toolbar class="md-warn filter-toolbar" ng-if="vm.showSalesTransactionsList">
            <div class="md-toolbar-tools">
                <span>
                    <h4>
                        <md-icon>business_center</md-icon>
                        Sales Transactions
                    </h4>
                </span>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.toggleToolbarPanel()">
                    <md-icon>arrow_forward</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <!-- SALES TRANSACTIONS -->
        <md-content class="sales-transaction-content" layout="column" flex ng-show="vm.showSalesTransactionsList">
            <div>
                <md-switch ng-model="vm.toggleTransactions" ng-change="vm.toggleTransactionsDisplay(vm.toggleTransactions)">Show on map</md-switch>

                <form class="filter-territory-form">
                    <md-input-container md-no-float class="md-block">
                        <input type="text"
                               placeholder="Search"
                               ng-model="vm.filter.qt">
                    </md-input-container>
                </form>

                <md-list>
                    <md-list-item ng-repeat="item in vm.transactions | filter: vm.filter.qt"
                                  class="md-3-line"
                                  id="transaction-{{item.id}}"
                                  ng-click="vm.showTransaction(item);$event.stopPropagation()">
                        <div class="md-list-item-text" layout="column">
                            <div flex layout="row">
                                <h3>{{ item.merchant.name }}</h3>
                                <span flex></span>
                                <md-icon flex="10">
                                    <md-tooltip md-direction="top">{{ item.type }}</md-tooltip>
                                    {{ item.icon }}
                                </md-icon>
                            </div>
                            <h4 am-time-ago="item.transaction_date | amParse:'YYYY.MM.DD HH:mm:ss'"></h4>
                            <p>
                                <md-tooltip md-direction="top">{{ item.address }}</md-tooltip>
                                {{ item.address }}
                            </p>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
        </md-content>

        <!-- TERRITORIES -->
        <md-content layout="column" flex ng-hide="vm.showSalesTransactionsList">
            <div id="territory-list-container">

                <md-switch ng-model="vm.loadPois">Show POIs</md-switch>

                <md-subheader ng-if="vm.loadPois">Place types</md-subheader>

                <div ng-if="vm.loadPois" class="md-whiteframe-2dp places-type-container" layout="row" layout-margin>
                    <div flex-wrap layout="column" class="place-type-item">
                        <md-checkbox ng-model="type.model" ng-change="vm.toggleType(type.name)"
                                     ng-repeat="type in vm.placeTypes[0]">
                            {{ type.name | underscoreless | uppercase }}
                        </md-checkbox>
                    </div>
                    <div flex-wrap layout="column" class="place-type-item">
                        <md-checkbox ng-model="type.model" ng-change="vm.toggleType(type.name)"
                                     ng-repeat="type in vm.placeTypes[1]">
                            {{ type.name | underscoreless | uppercase }}
                        </md-checkbox>
                    </div>
                </div>

                <form class="filter-territory-form">
                    <md-input-container md-no-float class="md-block">
                        <input type="text"
                               placeholder="Search"
                               ng-model="vm.filter.q">
                    </md-input-container>
                </form>

                <md-list>
                    <md-list-item ng-repeat="item in vm.territories | filter: vm.filter.q"
                                  id="territory-{{item.territoryid}}"
                                  ng-click="vm.showTerritoryDetails(item);$event.stopPropagation()">
                        <div class="md-list-item-text" layout="row" flex>
                            <span flex><md-icon>star</md-icon> {{ item.territory.code }}</span>
                            <md-progress-circular
                                    flex="10"
                                    md-mode="indeterminate"
                                    md-diameter="30px"></md-progress-circular>
                        </div>
                    </md-list-item>
                </md-list>

            </div>
        </md-content>

    </md-sidenav>
</section>
{% endraw %}