$list-item-height: 25px;
$list-item-height-2: 38px;

#admin-panel {

  > md-sidenav {
    display: block;
    overflow: hidden;
  }

  form {
    height: 30px;

    md-input-container {
      margin: 0;
      height: 30px;
    }
  }

  #admin-territories-section {
    md-list {
      overflow-y: auto;

      md-list-item {
        md-icon {
          color: #9b59b6;
        }

        md-progress-circular {
          display: none;
        }
      }
    }

  }

  md-toolbar {
    .md-toolbar-tools {
      button.no-space-right {
        padding-right: 0;
        margin-right: 0;
      }

      h4 {
        font-size: 0.85rem;
      }
    }
  }

  md-toolbar.md-default {
    background-color: rgba(0, 0, 0, 0.45);
    color: white;
    md-icon {
      color: white;
    }
  }

  md-content {
    //max-height: 100%;
    //overflow: hidden;
    //height: 100%;
    height: calc(100% - 65px);

    > div:first-of-type {

      .md-subheader {
        margin: 0;

        .md-subheader-inner {
          padding: 8px 0;
        }
      }

      //md-checkbox {
      //  margin-bottom: 0;
      //
      //  .md-label {
      //    text-transform: capitalize;
      //  }
      //}
    }

    .boundaries-parent-container {
      height: 100%;
    }

    #boundaries-container {
      height: 100%;
      display: block;

      md-switch {
        padding: 0;
        margin: 0;
      }

      .places-type-container {
        margin: 5px 0;
      }

      form {
        margin: 0;
      }

      v-pane-header {
        > div {
          > div {
            justify-content: space-between;
          }
        }
        md-progress-circular {
          display: none;
        }
      }

      md-list-item {
        justify-content: space-between;

        md-progress-circular {
          display: none;
        }
      }

      .md-subheader {
        .md-subheader-inner {
          padding: 8px 0;
        }
      }
    }

    v-accordion {
      display: block;
      max-height: 100%;
      overflow-y: auto;
      margin: 5px 0 0;

      v-pane {
        v-pane-header {
          md-checkbox {
            margin: 0;

            .md-label {
              line-height: 1.5;
            }
          }
        }
      }

      md-list {
        padding: 0;

        md-list-item {
          min-height: $list-item-height;
          height: $list-item-height;

          .md-button {
            padding: 0 8px;
            min-height: $list-item-height;

            .md-list-item-inner {
              min-height: $list-item-height;
              height: $list-item-height;

              .md-list-item-text {
                height: 25px;
                line-height: 2;
                font-size: 12.5px;
              }
            }
          }
        }
      }
    }


    v-accordion.region-accordion {
      display: block;
      height: 100%;
      overflow-y: auto;
      //overflow: hidden;

      > v-pane {
        > v-pane-header {
          font-size: 0.85rem;
        }
      }
    }

    //v-accordion.province-accordion {
    //  > v-pane {
    //    > v-pane-header {
    //      //font-weight: 600;
    //      font-size: 0.85rem;
    //    }
    //  }
    //}

    v-accordion.city-accordion {
      overflow: hidden;
    }

  }

}
