#sales-panel {
  z-index: 11;

  .filter-toolbar {
    form {
      min-height: 0;
      height: 40px;

      md-input-container {
        margin: 0;
      }
    }
  }

  #territory-list-container {
    md-list {
      overflow-y: auto;

      md-list-item {
        md-icon {
          color: #9b59b6;
        }

        md-progress-circular {
          display: none;
        }
      }
    }
  }
}