#sales-panel {
  z-index: 11;

  .filter-toolbar {
    form {
      min-height: 0;
      height: 40px;

      md-input-container {
        margin: 0;
      }
    }
  }

  .sales-transaction-content {
    form {
      md-input-container {
        margin: 0;
        height: 30px;
      }
    }

    md-list {
      md-list-item {
        button {
          padding: 0 0.5rem;

          .md-list-item-text {
            width: 100%;

            h3 {
              font-weight:600;
            }
            p {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }

      }
    }
  }

  #territory-list-container {
    .md-subheader {
      margin: 10px 10px 0 10px;

      .md-subheader-inner {
        padding: 5px 0;
      }
    }

    .filter-territory-form {
      md-input-container {
        margin: 0;
        height: 30px;
      }
    }

    md-list {
      overflow-y: auto;

      md-list-item {
        md-icon {
          color: #9b59b6;
        }

        md-progress-circular {
          display: none;
        }
      }
    }
  }
}

.places-type-container {
  .place-type-item {
    margin: 5px;
  }
}

#new-sales-transaction-btn {
  position: absolute;
  bottom: 18px;
  right: calc(20% + 40px);
  z-index: 3;
}
