<md-dialog class="md-whiteframe-3dp" flex="50">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Add Product</h2>
            <span flex></span>
            <p>{{ vm.branch.name }}</p>
        </div>
    </md-toolbar>

    <md-dialog-content>

        <div layout="row" flex="100" layout-padding>
            <md-input-container md-no-float flex="70" layout-margin>
                <input type="text"
                       placeholder="Filter by"
                       ng-change="vm.filterChanged()"
                       ng-model="vm.filter.q"/>
            </md-input-container>

            <md-input-container flex style="height:30px;margin:0.5rem;">
                <md-select ng-model="vm.filterType">
                    <md-option ng-repeat="type in vm.productTypes" value="{{ type }}">
                        {{ type | uppercase }}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>


        <table md-table>
            <thead>
                <tr>
                    <th ng-repeat="data in vm.tableHeading">{{data | uppercase}}</th>
                </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="item in vm.products track by $index"
                ng-class="{'added': item.added}"
                data-product-id="{{ item.id }}">
                <td md-cell>{{item.name}}</td>
                <td md-cell>{{ item.type }}</td>
                <td md-cell>{{ item.cost | currency:"PHP ":2}}</td>
                <td md-cell>{{ item.remarks }}</td>
                <td md-cell>
                    <md-button class="md-icon-button" ng-click="vm.addProduct(item)">
                        <md-icon ng-if="!item.added">add_shopping_cart</md-icon>
                        <md-icon ng-if="item.added">remove_shopping_cart</md-icon>
                    </md-button>
                </td>
            </tr>
            </tbody>
        </table>

    </md-dialog-content>

    <md-dialog-actions>
        <md-button class="md-raised md-primary" ng-click="vm.save()">Save</md-button>
        <md-button class="md-raised" ng-click="vm.close()">Cancel</md-button>
    </md-dialog-actions>

</md-dialog>
