<md-dialog id="fraud-report-table-modal" layout-align="center center" class="md-whiteframe-3dp" flex="80">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <div class="fraud-report-table-header" layout="column" flex>
                <div layout="row">
                    <span flex="25">Employee ID</span>
                    <span>1111</span>
                </div>
                <div layout="row">
                    <span flex="25">Employee Name</span>
                    <span>DELA CRUZ,JUAN</span>
                </div>
                <div layout="row">
                    <span>Coverage vs. Fleet vs. C3S vs. 1SS vs. IIDACS</span>
                </div>
            </div>

            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.close()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content layout="column" flex="100">

            <md-tabs layout-fill md-border-bottom>

                <md-tab label="Consolidated Data">
                    <md-content class="md-padding" id="consolidate-container">
                    </md-content>
                </md-tab>

                <md-tab label="Exceptions">
                    <md-content class="md-padding" id="exceptions-container">
                    </md-content>
                </md-tab>
            </md-tabs>

    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="end center" flex>
        <md-button ng-click="vm.viewOnMap()" md-autofocus>
            <md-progress-circular md-mode="indeterminate" ng-show="vm.showOnMapIsLoading"></md-progress-circular>
            <span ng-hide="vm.showOnMapIsLoading">View on Map</span>

        </md-button>
    </md-dialog-actions>

</md-dialog>