<md-dialog class="stick-right-modal md-whiteframe-3dp" flex="100">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>New Branch</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content>

        <!--<md-content md-theme="docs-dark" layout-gt-sm="column" layout-padding flex>
            
        </md-content>-->

        <md-content layout-padding style="overflow:hidden;">
            <div>
                <form name="vm.form">
                    <div layout="row" flex>

                        <md-input-container flex>
                            <label>Branch Type</label>
                            <md-select ng-model="vm.branchTypes.type">
                                <md-option ng-repeat="type in vm.branchTypes" value="{{type}}">
                                    {{ type | uppercase }}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container flex>
                            <label>Name</label>
                            <input ng-model="vm.branch.name">
                        </md-input-container>
                       
                  </div>
                    <div flex>
                        <md-input-container class="md-block">
                            <label>Address</label>
                            <input ng-model="vm.branch.address">
                        </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Average Monthly Income</label>
                            <input type="number" ng-model="vm.branch.income">
                        </md-input-container>
                        <!--<md-datepicker ng-model="vm.branch.date" md-placeholder="Average Monthly Income"></md-datepicker>-->
                    </div>

                     <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Average Patrons</label>
                            <input type="number" ng-model="vm.branch.patrons">
                        </md-input-container>
                        <!--<md-datepicker ng-model="vm.branch.date" md-placeholder="Average Monthly Income"></md-datepicker>-->
                    </div>

                    <md-input-container class="md-block">
                        <label>Remarks</label>
                        <textarea ng-model="vm.branch.remarks" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                    </md-input-container>

                    <div layout-gt-sm="row">
                        <md-button class="md-raised md-warn">Upload SKU File</md-button>
                    </div>
                </form>
            </div>
        </md-content>

    </md-dialog-content>
    <md-dialog-actions>
        <md-button class="md-raised md-primary" ng-click="vm.save()">Save</md-button>
        <md-button class="md-raised" ng-click="vm.close()">Cancel</md-button>
    </md-dialog-actions>
</md-dialog>
